.contacts-wrapper {
    overflow: hidden;
    width: 100%;
    &_first {
        background: $default-primary-light-color;
        height: 4rem;
        padding: 1rem 1rem 1rem 4rem;
        @include between-desktop-wide {
            width: 50%;
            text-align: center;
        }
        @include between-desktop {
            padding: 1rem 1rem;
        }
        @include small-desktop {
            padding: 1rem 1rem;
        }
        @include tablet {
            width: 50%;
            text-align: center;
        }
        &:after {
            content: "";
            display: block;
            background: $default-primary-light-color;
            height: 7rem;
            width: 4rem;
            position: absolute;
            z-index: 5;
            top: -2.5rem;
            right: -2.5rem;
            -webkit-transform: rotate( 45deg );
            transform: rotate(45deg);
        }
    }
    &_second {
        background: $default-primary-dark-color;
        height: 4rem;
        padding: 1rem 4rem 1rem 5rem;
        @include between-desktop-wide {
            width: 50%;
            text-align: center;
        }
        @include between-desktop {
            padding: 1rem 1rem 1rem 5rem;
        }
        @include small-desktop {
            padding: 1rem 1rem 1rem 5rem;
        }
        @include tablet {
            width: 50%;
            text-align: center;
        }
    }
    dl {
        display: inline-block;
    }
    dt,
    dd {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 600;
        color : $white;
        z-index: 10;
        > a {
            color : $white;
        }

        @include mobile {
            font-size: 1.4rem;
        }
    }

    dt {
        margin-right: .5rem;

        @include mobile {
            margin-right: 1.4rem;
        }
    }

    dd {
        margin-right: 0;

        @include mobile {
            margin-right: 2.8rem;
        }
    }
}
