:root {
    --cart-overlay-totals-background: var(--secondary-base-color);
    --cart-overlay-divider-background: #d8d8d8;
    --cart-overlay-promo-background: #fff;
    --cart-overlay-width: 400px;
}

.CartOverlay {
    @include after-mobile {
        position: absolute;
        top: calc(var(--header-nav-height) - 7px);
        right: 0;
        padding: 0;
        width: var(--cart-overlay-width);
    }

    &_isVisible {
        @include after-mobile {
            border: 1px solid var(--overlay-desktop-border-color);

            .CartItem-QuantityWrapper {
                margin-right: 2.6rem;
            }

            .CartOverlay_isVisible .CartItem-Actions_isEditing {
                top: 4.25rem;
            }

            .CartItem_isEditing .CartItem-Content:not(.CartItem-Content_isLikeTable) {
                width: auto;
                max-width: 50%;
                padding-left: 2.6rem;
                flex-direction: column;
            }

            .CartItem_isEditing .CartItem-ItemOptionsWrapper .CartItem-ItemOption {
                flex-direction: column;
            }

            .CartItem_isEditing .CartItem-ItemOptionsWrapper .CartItem-ItemOption .CartItem-ItemOptionLabel {
                width: 100%;
                margin-right: 0;
            }

            .CartItem-Actions_isEditing {
                width: auto;
                top: 4rem;
            }
            .CartItem .CartItem-Qty {
                -webkit-align-items: center;
                align-items: center;
                height: 4rem;
                width: 4rem;
                position: relative;
            }
            .CartItem .CartItem-Qty input {
                border-radius: 1rem;
                position: absolute;
                top: 0;
                left: 0;
                height: 4rem;
                width: 4rem;
                border: 1px solid #313133;
                background: #fff;
            }
            .CartItem .CartItem-Qty button:first-of-type {
                position: absolute;
                top: .25rem;
                right: -2rem;
                left: auto;
                border: 0;
                color: #fff;
                width: 18px;
                height: 18px;
                &:before, &:after {
                    background-color: #fff;
                }
            }
            .CartItem .CartItem-Qty button:last-of-type {
                position: absolute;
                bottom: .25rem;
                right: -2rem;
                left: auto;
                border: 0;
                top: auto;
                color: #fff;
                width: 18px;
                height: 18px;
                &:before, &:after {
                    background-color: #fff;
                }
            }

            .CartItem .CartItem-Qty:before {
                position: absolute;
                content: "";
                background: #313133;
                height: 3.8rem;
                width: 4rem;
                border: 1px solid transparent;
                border-radius: 1rem;
                right: -2rem;
            }
        }
    }

    &::before {
        @include after-mobile {
            content: '';
            position: absolute;
            top: -9px;
            right: 9px;
            height: 15px;
            width: 15px;
            transform: rotate(45deg);
            background-color: var(--overlay-desktop-border-color);
            border: {
                top: 1px solid var(--overlay-desktop-border-color);
                left: 1px solid var(--overlay-desktop-border-color);
            }
        }
    }

    &-Empty {
        padding: 1.2rem;

        @include mobile {
            padding: 1.4rem;
        }
    }

    &-Actions {
        display: flex;
        padding: 1.2rem;

        @include mobile {
            padding: 1.4rem;
        }
    }

    &-OutOfStockProductsWarning {
        padding: 1rem;
        display: flex;
        justify-content: center;
        background-color: var(--primary-error-color, red);
        font-size: 14px;
        font-weight: bold;
    }

    &-CheckoutButton {
        margin-left: 1.2rem;

        span {
            @include lock-button;
        }

        @include mobile {
            margin-left: 1.4rem;
            width: 100%;
            display: block;
            text-align: center;
        }

        @include after-mobile {
            flex-grow: 1;
            text-align: center;
        }
    }

    &-CartButton {
        @include mobile {
            display: none;
        }
    }

    &-Promo,
    &-Total {
        min-height: 4.8rem;

        @include mobile {
            min-height: 5.6rem;
        }

        @include after-mobile {
            min-height: 3.6rem;
        }
    }

    &-Promo {
        padding: 1.2rem;
        text-align: center;
        background: var(--cart-overlay-promo-background);
        margin-bottom: 0;

        @include mobile {
            padding: 1.4rem;
            border-bottom: 1px solid var(--cart-overlay-divider-background);
            border-top: 1px solid var(--expandable-content-color);
        }

        @include after-mobile {
            padding: .84rem;
            background: var(--primary-light-color);
        }

        strong {
            margin: 0 5px;
        }
    }

    &-Items {
        max-height: 40vh;
        overflow-y: scroll;
    }

    &-Total,
    &-Discount,
    &-Tax,
    &-Shipping {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.2rem 1.2rem .6rem;
        font-size: 1.8rem;
        background: var(--cart-overlay-totals-background);

        @include mobile {
            padding: 1.4rem 1.4rem .7rem;
        }

        @include after-mobile {
            font-size: 1.6rem;
        }

        dd {
            text-align: right;

            span {
                display: block;
                font-size: .6em;
                font-weight: 300;
            }
        }
    }

    &-Total {
        font-weight: bold;

        @include after-mobile {
            border-bottom: 1px solid var(--cart-item-divider-color);
        }
    }

    &-DiscountCoupon {
        &::after {
            content: ':';
            font-weight: normal;
        }
    }
}
