@mixin clear-button {
    &::before,
    &::after {
        content: '';
        position: absolute;
    }

    &::before {
        top: 12px;
        left: 12px;
        width: 10px;
        height: 14px;
        transform: perspective(10px) rotateX(-10deg);
        border: {
            left: 1px solid var(--header-color);
            right: 1px solid var(--header-color);
            bottom: 1px solid var(--header-color);
            bottom-left-radius: 3px;
            bottom-right-radius: 3px;
        }
    }

    &::after {
        left: 14px;
        top: 7px;
        width: 6px;
        height: 2px;
        box-shadow:
            6px 2px 0 -1px var(--header-color),
            -6px 2px 0 -1px var(--header-color),
            -2px 2px 0 -1px var(--header-color),
            2px 2px 0 -1px var(--header-color);
        border: {
            left: 1px solid var(--header-color);
            right: 1px solid var(--header-color);
            top: 1px solid var(--header-color);
            top-left-radius: 2px;
            top-right-radius: 2px;
        };
    }
}

@mixin close-button {
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 20px;
        transform-origin: 50% 50%;
        top: 7px;
        transform: rotate(-45deg);
        background-color: var(--header-color);
    }

    &::after {
        transform: rotate(45deg);
    }
}

@mixin back-button {
    &::before,
    &::after {
        content: '';
        position: absolute;
    }

    &::before {
        width: 18px;
        height: 1px;
        top: 17px;
        right: 8px;
        background-color: var(--header-color);
    }

    &::after {
        width: 8px;
        height: 8px;
        top: 13px;
        left: 10px;
        transform: rotate(-45deg);

        border: {
            top: 1px solid var(--header-color);
            left: 1px solid var(--header-color);
        }
    }
}

@mixin menu-button {
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        content:'';
        display: none;
    }

    &::before {
        font-family: 'Zoom';
        content: "\e902";
        font-size: 3rem;
        border: 0;
        color: $default-primary-base-color;
    }
}

@mixin account-button {
    &::before,
    &::after {
        content: '';
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
        border: var(--header-icon-stroke-width) solid var(--header-color);
    }

    &::after {
        display: none;
        content: '';
    }

    &::before {
        font-family: 'Zoom';
        content: "\e904";
        font-size: 2rem;
        border: 0;
        color: $default-primary-base-color;
    }
}

@mixin minicart-button {
    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    @include desktop {
        &::before {
            top: 0;
            content: '';
            width: 4rem;
            height: 4rem;
            background: $default-primary-base-color 0% 0% no-repeat padding-box;
            border-radius: 1rem;
        }
        &::after {
            color: $white;
        }
    }

    @include mobile {
        &::after {
            color: $default-primary-base-color;
        }
    }

    &::after {
        font-family: 'Zoom';
        content: "\e905";
        font-size: 2rem;
        border: 0;
    }
}

@mixin clear-search-button {
    @include close-button;

    border-radius: 50%;
    background-color: var(--search-clear-background);

    height: 15px;
    width: 15px;
    position: absolute;
    right: 2.4rem;

    &::before,
    &::after {
        height: 9px;
        width: 1px;
        top: 3px;
        left: 7px;
        background-color: var(--header-background);
    }
}

@mixin edit-button {
    // border-radius: 10px; <- Wait chrome until bug will be fixed
    box-shadow:
        inset 0 0 0 8px var(--header-background),
        inset 0 0 0 9px var(--header-color);

    &::before,
    &::after {
        content: '';
        position: absolute;
        transform-origin: 0 0;
        transform: rotate(45deg);
        top: 4px;
        right: 2px;
    }

    &::before {
        background-color: var(--header-background);
        box-shadow: 0 0 0 2px var(--header-background);
        width: 4px;
        height: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: {
            top: 1px solid var(--header-color);
            left: 1px solid var(--header-color);
            right: 1px solid var(--header-color);
        }
    }

    &::after {
        background-color: var(--header-color);
        width: 6px;
        top: 4px;
        height: 23px;
        clip-path:
            polygon(
                3px 23px,
                6.5px 17px,
                3px 17px,
                3px 4.5px,
                0 4.5px,
                0 3.5px,
                5px 3.5px,
                5px 4.5px,
                3px 4.5px,
                3px 17px,
                -.5px 17px,
                3px 23px,
                3px 21.5px,
                1px 18px,
                5px 18px,
                3px 21.5px,
            );
    }
}

@mixin lock-button {
    display: inline-block;
    margin-right: 9px;

    &::before,
    &::after {
        content: '';
    }

    &::after {
        display: block;
        position: relative;
        top: 1px;
        width: 10px;
        height: 9px;
        background: currentColor;
        border-radius: 1px;
        box-shadow: inset 0 0 0 -2px var(--button-background);
    }

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -4px;
        border-radius: 50%;
        border: 1px solid currentColor;
        width: 6px;
        height: 6px;
    }
}

@mixin home-icon {
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &::after {
        display: none;
        content: '';
    }

    &::before {
        font-family: 'Zoom';
        content: "\e900";
        font-size: 2rem;
        border: 0;
        color: $default-primary-base-color;
    }
}

@mixin search-icon {
    &::before {
        font-family: 'Zoom';
        content: "\e903";
        top: .25rem;
        font-size: 2rem;
        border: 0;
        color: $default-primary-base-color;
        box-shadow: initial;
        position: absolute;
        border-radius: 50%;
        right: 0;
        left: 0;
        margin: auto;
    }
}

@mixin ios-share {
    $color-dodger-blue: #3b9cfe;

    border: 2px solid $color-dodger-blue;
    bottom: -3px;
    height: 18px;
    margin: 0 4px;
    width: 18px;

    &::before {
        content: '';
        border-left: 2px solid $color-dodger-blue;
        border-top: 2px solid $color-dodger-blue;
        display: block;
        height: 6px;
        left: 3px;
        position: relative;
        top: -9px;
        transform: rotate(45deg);
        width: 6px;
    }

    &::after {
        border-left: 2px solid $color-dodger-blue;
        content: '';
        display: block;
        height: 16px;
        left: 6px;
        position: relative;
        top: -16px;
        width: 19px;
    }
}

@mixin base-plus-minus-icon {
    $size: 20px;
    $line-size: 10px;
    $line-bg-color: #000;

    width: $size;
    height: $size;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: $line-bg-color;
        width: $line-size;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

@mixin minus-icon {
    @include base-plus-minus-icon;

    &::after {
        display: none;
    }
}

@mixin plus-icon {
    @include base-plus-minus-icon;
}

@mixin ios-plus {
    $color-storm-grey: #7b7b86;

    background:
        linear-gradient($white, $white),
        linear-gradient($white, $white),
        $color-storm-grey;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 53% 1px, 1px 50%;
    border-radius: 5px;
    height: 20px;
    margin: 0 4px;
    width: 20px;
}

@mixin share-button {
    $share-button-stroke-width: var(--header-icon-stroke-width);

    background-image: linear-gradient(to right, var(--header-color) 15%, var(--header-background) 0);
    background-repeat: repeat-x;
    background-size: 12px $share-button-stroke-width;
    border-radius: 1px;
    padding: calc(6px - #{$share-button-stroke-width}) calc(8px - #{$share-button-stroke-width});

    border: {
        bottom: $share-button-stroke-width solid var(--header-color);
        left: $share-button-stroke-width solid var(--header-color);
        right: $share-button-stroke-width solid var(--header-color);
    }

    @include desktop {
        background-image: linear-gradient(to right, var(--header-color) 20%, var(--my-account-content-background) 0);
        background-size: 15px $share-button-stroke-width;
        padding: calc(11px - #{$share-button-stroke-width});
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
    }

    &::before {
        background-color: var(--header-color);
        height: 10px;
        left: 6px;
        top: -4px;
        width: $share-button-stroke-width;

        @include desktop {
            height: 13px;
            left: 8px;
            top: -6px;
            width: 2px;
        }
    }

    &::after {
        height: 4px;
        left: 4px;
        top: -4px;
        transform: rotate(45deg);
        width: 4px;

        border: {
            left: $share-button-stroke-width solid var(--header-color);
            top: $share-button-stroke-width solid var(--header-color);
        }

        @include desktop {
            height: 6px;
            left: 5px;
            top: -7px;
            width: 6px;
        }
    }
}

@mixin email-icon {
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        border: 1px solid $white;
    }

    &::before {
        width: 18px;
        height: 14px;
        transform: translate(-50%, -50%);
    }

    &::after {
        width: 12px;
        height: 12px;
        transform: rotate(45deg) translate(calc(-50% - 4px), calc(-50% - 4px));
        transform-origin: top left;
        border-top-color: transparent;
        border-left-color: transparent;
    }
}

@mixin compare-icon($color) {
    width: 1px;
    height: 25px;
    background-color: $color;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 7px;
        height: calc(100% - 7px);
        box-sizing: border-box;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 1px;
        box-sizing: border-box;
    }

    &::before {
        left: -7px;
        background-color: $color;
    }

    &::after {
        left: 3px;
        border: 1px solid $color;
        border-left: none;
    }
}
