.ProductConfigurableAttributeDropdown {
    @include desktop {
        width: 100%;
    }

    @include tablet {
        width: 60%;
    }

    @include mobile {
        margin: var(--option-margin);
    }
}
