:root {
    --content-wrapper-width: 1640px;
}

.ContentWrapper {
    max-width: var(--content-wrapper-width);
    padding: {
        left: 1.2rem;
        right: 1.2rem;
    };
    margin: {
        left: auto;
        right: auto;
    };

    @include mobile {
        padding: {
            left: 1.4rem;
            right: 1.4rem;
        }
    }
}
