.ContentWrapper {
    &.ProductPage {
        @include after-mobile {
            padding-top: 1.2rem;
        }

        @include tablet {
            padding-top: 0;
            margin-top: 0;
        }

        @include mobile {
            padding-bottom: 75px;
        }

        &-Wrapper {
            grid-template-columns: 4fr 5fr;
            grid-column-gap: 2.4rem;
            grid-template-rows: min-content min-content;
          @include before-desktop {
            padding-top: 0;
            >.ProductGallery {
              width: 100vw;
              left: -1.5rem;
            }
          }
          @include after-mobile {
            display: grid;
            padding-top: 2.4rem;
          }
          @include between-mobile-desktop {
            grid-template-columns: 5fr 4fr;
          }
        }
    }
}


.ProductGallery {
  @include desktop {
    display: flex;
    height: 100%;
  }

  &-Additional {
    $margin-right: 1.8rem;

    width: 150px;
    margin-right: $margin-right;

    @include mobile {
      margin-right: 2.1rem;
    }

    @include desktop {
      height: 45rem;
      margin: 0;
      overflow: hidden;
      .CarouselScrollArrow {
        display: none;
      }
    }

    @include before-desktop {
      display: none;
    }

    &_isImageZoomPopupActive {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .slick-list {
      height: 100% !important;
    }
  }

  &-SliderWrapper {
    flex: 1;
    max-width: 54rem;
    max-height: 45rem;
    width: 100%;
    height: 100%;
    @include mobile {
      max-width: 100%;
    }
    .slick-slider {
      max-height: 45rem;
      height: 100%;
    }

    .slick-list {
      padding: 0 0 !important;
      height: 100%;
      overflow: hidden;

      .slick-track {
        max-height: 45rem;
        height: 100%;
      }

      .slick-slide {
        width: 100% !important;
        height: 100%;
        max-width: 54rem;
        max-height: 45rem;
        display: inline-block;
        float: left;
      }
    }
  }

  &-Slider {
    min-height: 45rem;
    max-height: 45rem;
    height: 100%;

    &::after {
      @include desktop {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
      }
    }

    &_isImageZoomPopupActive {
      cursor: pointer;
    }

    &_isZoomInCursor {
      @include after-mobile {
        cursor: zoom-in;
      }
    }
  }

  .react-transform-component,
  .react-transform-element,
  &-SliderImage {
    height: 100%;
    width: 100%;
  }

  &-SliderImage {
    .Image-Image {
      transform: translateY(var(--translateYOnCursorMove));
    }
  }
}

.overscrollPrevented {
  overscroll-behavior: contain;
}
