.SliderWidget {
    &-Figcaption {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
    }

    &-FigureImage {
        display: block;
        img {
            width: auto;
            height: auto;

            @include mobile {
                object-position: center;
            }
        }
    }
}
