.Logo {
    --placeholder-image: none;
    --placeholder-animation: none;
    --image-default-background: #fff;
    //height: var(--header-logo-height);
    &-Placeholder {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
    }

    &-Accent {
        fill: var(--primary-base-color);
    }
}
