.ProductAttributes,.ProductReviews {
    @include mobile {
        display: none !important;
    }
}
.ProductTabs {
    display: none !important;
    border-bottom: 1px solid var(--expandable-content-divider-color);

    @include desktop {
        display: flex;
    }

    &-Wrapper {
        @include mobile {
            padding: 0;
        }
        @include desktop {
            margin: 3rem 0 3rem 0;
            padding: 0;
            width: 100%;
            max-width: 100%;
        }
    }
}
