$white: #fff;
$black: #0a0a0a;
$grey: #313133;
$default-primary-base-color: #ED4C14;
$default-primary-dark-color: #3a1b16;
$default-primary-light-color: #EE6530;
$default-secondary-base-color: #fff;
$default-secondary-dark-color: #929292;
$default-secondary-light-color: #f8f8f8;
$font-muli: Clother, sans-serif;
$font-standard-size: 62.5%;
